header{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    font-size: 4em;
    color: brown;
    word-wrap: 20rd;
    font-family: Georgia, serif;
}

img{
    height: 8%;
    width: 8%;
}

h3{
    color:brown;
    font-family: Georgia, serif
}

.selecao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecao > input{
    width: 1.5em;
    font-size: 4em;
    margin-right: 15px;
    background-color:GhostWhite;
}